@import "tailwindcss";

@theme {
  /*  
   Nämä värit ovat määritelty figman suunnittelusta.
   Käykää katsomassa figmassa, jos haluatte tarkistaa värit.
    Figma linkki: https://www.figma.com/design/jhW08WEXeWEBv2FyfVEVzL/Ryhm%C3%A4-A-Ryhm%C3%A4-Projekti-Figma?node-id=0-1&t=NOtTPrXFj7UWEM0i-1
   */

  --color-red-100: #c73228;
  --color-red-200: #9f2921;
  --color-red-light: #f9eeec;

  --color-green-100: #7baa50;
  --color-green-200: #495e57;
  --color-green-light: #eef5e8;

  --color-beige: #f7f5f2;

  --color-white: #ffffff;

  --color-black-100: #000000;
  --color-black-200: #111111;

  --color-gray-200: #45474b;

  --color-brown-100: #c9c2b8;
}

/*  
Animaatio vaakasuuntaiselle reviews osiolle.
*/
@layer utilities {
  @keyframes marquee {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-50%);
    }
  }

  .animate-marquee {
    animation: marquee 40s linear infinite;
  }
}

/* Montserrat Font Family */
@font-face {
  font-family: "Montserrat";
  src: url("/src/assets/fonts/Montserrat/Montserrat-Regular.woff2")
    format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("/src/assets/fonts/Montserrat/Montserrat-Medium.woff2")
    format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("/src/assets/fonts/Montserrat/Montserrat-SemiBold.woff2")
    format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("/src/assets/fonts/Montserrat/Montserrat-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("/src/assets/fonts/Montserrat/Montserrat-ExtraBold.woff2")
    format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

.nav-active {
  position: relative;
}

.nav-active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background-color: currentColor;
}

html {
  font-family: "Montserrat", sans-serif;
}

@media (min-width: 768px) {
  .mobile-bg-only {
    background-image: none !important;
  }
}

